doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Import bootstrap.css
    link(type='text/css', rel='stylesheet', href='css/bootstrap.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Smart Home Dashboard by Computer Engineering Khonkaen University

  body
    .container
        .jumbotron
            .container
                center
                    h1 ศูนย์ควบคุมระบบบ้านอัจฉริยะ
        .truncate
            center
                strong 
                    h2 ห้องนั่งเล่น
        br
        .row
            .col.s6
                .card-panel.hoverable
                    center
                        h2 อุณหภูมิของห้อง
                    .row
                        .col.s6
                            center
                                img(src='http://www.iconsdb.com/icons/preview/caribbean-blue/temperature-2-xxl.png' height='50%' width='50%')
                        .col.s6
                            center
                                h3 อุณหภูมิปัจจุบัน : 
                                    div#temp 
                                h3 ความชื้นปัจจุบัน :
                                    div#humi
            .col.s6
                .card-panel.hoverable
                    center
                        h2 หลอดไฟเหนือโซฟา
                    .row
                        .col.s6
                            center
                                img(src='http://pngimg.com/upload/bulb_PNG1252.png' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                br
                                h3 สถานะ : 
                                    div#light1 เปิด
                                br
        br
        .row
            .col.s6
                .card-panel.hoverable
                    center
                        h2 โคมไฟทางเข้าห้อง
                    .row
                        .col.s6
                            center
                                img(src='http://pngimg.com/upload/bulb_PNG1252.png' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                br
                                h3 สถานะ : 
                                    div#light2 เปิด
            .col.s6
                .card-panel.hoverable
                    center
                        h2 ทีวี
                    .row
                        .col.s6
                            center
                                img(src='https://lh6.ggpht.com/ZzfK12_vcFm9wDHv-PPpnjGvUEvW-ygA8WfMzAjtVq3rwZqwk_XozTGipP5Yd7a2bQcY=w300' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                br
                                h3 สถานะ : 
                                    div#tv เปิด
    
    #container.col
      | Relay 1
      button#relay1_0.waves-effect.waves-light.btn(onclick='myFunction()') On
      button#relay1_1.waves-effect.waves-light.btn(onclick='myFunction2()') Off

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(src="https://cdn.socket.io/socket.io-1.3.3.js")
    script.

            var socket = io();
            var temp = $('#temp');
            var humi = $('#humi');

            // get element ต่างๆ มารอไว้ก่อน
            //var chatForm = $('#chat-form');
            //var chatHistory = $("#chat-history");
            //var inputMessage = $('#chat-message');

            // set ให้ focus ที่ input ตั้งแต่เริ่ม
            //inputMessage.focus();
            
            //- var username = "Mac";

            //- chatForm.submit(function() {
            //-     // ส่งทั้ง username และ ข้อความไปให้ server
            //-     socket.emit('LVR_Relay_1', {
            //-         username: username, 
            //-         message: inputMessage.val()
            //-     });

            //-     // clear ค่า input
            //-     $(this)[0].reset();
            //-     return false;
            //- });

            

            socket.emit('message', 'ศูนย์แสดงรายละเอียดได้เชื่อมต่อเข้ามาแล้ว');
            socket.on('message', function(data){
                //alert(data);
            });

            socket.on('LVR_Temp', function(data){
                temp.text(data.temp);
                humi.text(data.humidity);
            });
            
            function myFunction() {
                temp.text("on");
            socket.emit('LVR_Relay', {
            data.number : 1,
            data.state : 1
            });
            }   
            function myFunction2() {
                humi.text("on");
            socket.emit('LVR_Relay', {
            data.number : 1,
            data.state : 0
            });
            }  
    .footer-copyright
          .container
            | Wireless devices programming project 
            a.grey-text.text-lighten-4.right(href='http://gear.kku.ac.th/?lang=en') Computer Engineering Khonkean university


