doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.3.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Smart Home Dashboard by Computer Engineering Khonkaen University

  body
    .container
        .jumbotron
            .container
                center
                    h1 ศูนย์ควบคุมระบบบ้านอัจฉริยะ
        .truncate
            center
                strong 
                    h2 ห้องนั่งเล่น
        br
        .row
            .col.s6
                .card-panel.hoverable
                    center
                        h2 อุณหภูมิของห้อง
                    .row
                        .col.s6
                            center
                                img(src='https://lh3.googleusercontent.com/qnDXLUWOnyEbxaxvNprhy12DudP20sghxTTVfc4AffXWWGYS4oa56C6lrkbuIDJR92btEwW4TH_irlba1f-rQvSz_SVPZ66zL9-8XXtr-wzXYL3RhB192nB8IQn1QbXACSR1gjW-5h0zkgO1OiH5-boQN-qcqn04HZ2vzRANV1jgPXbN1hK1LudJsZdlDKxuAKgIdFqowbR2yRx2C1axKL4AP5qeXuKsP1U0UGPQ39m4q85pEG-qCAgEV6m-x5TIS2ifV2b1EXnzgwFlSspReF7_-SthAspaCkIAj2XZ1MTbgyrH4JYGXPUehC_TWreFgURqUG1HaQaLzkameXzaeXRChne5yk77JThAaRUVL7rQqj1KU7osjYM0SBDpdKCK4kbVGndlve8udRx5kqLZltAMCPlxhzP4eqpxWV5AsEZDIiT-MwEv3yvmNxLyfKPqsOLFnU1NecLO6XIgig2oaBpvm7CnDwib7eNk2rNSYjgJs8JX4UrvYlHJTjl_ZbY2MOnCdRGa0hPkM24yjf90nsUHbpxIG3VyaQyNfrWUqHRM8HrAH6x-hsi4qd1_d9YBE6mM=s256-no' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                h3 อุณหภูมิปัจจุบัน : 
                                    span#temp 
                                h3 ความชื้นปัจจุบัน :
                                    span#humi
                        
            .col.s6
                .card-panel.hoverable
                    center
                        h2 หลอดไฟเหนือโซฟา
                    .row
                        .col.s6
                            center
                                img(src='https://lh3.googleusercontent.com/yu_6YMZNxAh6VCQ9APwZ5hIAenZtywmGIWcq3g-FQr5yWpL7XriLkXvSV3sZvh-9wU_iboYjtKblqkVsmqd9PoAqO9pW4oaMJLlkaLByspuW41P9DREKDFDT72kMOIzSU6qBHOPBcfA7-2saZ2VXBdg_AsdEfokv0fm8hIuXDmjMQHASmBf8oaz0dkJVAYi0HAozu3I7sWtJcFip2j0jr4WPlfm1DKbi0OkMv8HXl6CMJnS3vWjQAv-hZaKluA3gPP93Kqw4PTh_Gr8Ka_vrsXDXOPd3Ru27VVedCL_duy63-E4i4wKzouzDNFMkv8Bow4gROXxInGO2H_3I8bmpGkJpsH4IvDL1aXbdreUlYoehBPp5zCpJIcqNs-na374-pyX6Z2L_rMuIDB3Se3GJ7GNGMbPwFpy3s-ASewRyLadXd7rLRNPbagz0Q3THpBX2yyiQ5d630wo6VhvoHJZyhlIv3x6WWxioYTnsTfpPg7zxcFEwzyfpsB8_h6AwQf2JQkN5WYV_pp0klr7fS37h3QVvlMZT2YnYdAQ7fssh8Kx82m76w4Z5tzTG1asUEoLbNgFx=s256-no' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                br
                                h3 สถานะ : 
                                    span#light1 เปิด
                                
        br
        .row
            .col.s6
                .card-panel.hoverable
                    center
                        h2 โคมไฟทางเข้าห้อง
                    .row
                        .col.s6
                            center
                                img(src='https://lh3.googleusercontent.com/yu_6YMZNxAh6VCQ9APwZ5hIAenZtywmGIWcq3g-FQr5yWpL7XriLkXvSV3sZvh-9wU_iboYjtKblqkVsmqd9PoAqO9pW4oaMJLlkaLByspuW41P9DREKDFDT72kMOIzSU6qBHOPBcfA7-2saZ2VXBdg_AsdEfokv0fm8hIuXDmjMQHASmBf8oaz0dkJVAYi0HAozu3I7sWtJcFip2j0jr4WPlfm1DKbi0OkMv8HXl6CMJnS3vWjQAv-hZaKluA3gPP93Kqw4PTh_Gr8Ka_vrsXDXOPd3Ru27VVedCL_duy63-E4i4wKzouzDNFMkv8Bow4gROXxInGO2H_3I8bmpGkJpsH4IvDL1aXbdreUlYoehBPp5zCpJIcqNs-na374-pyX6Z2L_rMuIDB3Se3GJ7GNGMbPwFpy3s-ASewRyLadXd7rLRNPbagz0Q3THpBX2yyiQ5d630wo6VhvoHJZyhlIv3x6WWxioYTnsTfpPg7zxcFEwzyfpsB8_h6AwQf2JQkN5WYV_pp0klr7fS37h3QVvlMZT2YnYdAQ7fssh8Kx82m76w4Z5tzTG1asUEoLbNgFx=s256-no' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                br
                                h3 สถานะ : 
                                    span#light2 เปิด
            .col.s6
                .card-panel.hoverable
                    center
                        h2 ทีวี
                    .row
                        .col.s6
                            center
                                img(src='https://lh3.googleusercontent.com/jOo4BdzfyoPW88G9d8Pdr14Ptx6CqDrRN90AK5JEDaUifvIvG79Ht94-FZgiwkKKtu3WH--pUcR3RHVzODrJatkeXnRFvjemZLJNbsAgK01SoOaC2R2tndEEWuQKAfObC55FeCUnfwIfuMpo01uj9HmhOlERVjz_kRx1F8xOunR32y8hA_z4wqNGOdQlaMV3iBwrfPz2a-D1oy5jX5pfSWLNP-4Mj2jN6d2lyh35BYTGyB9fKcRDMvqRjlNCC1wSdw8Ljdh0PEho-l6bQpC66yp3_zkcC5VDGsYu6-kATGQj9SXu5u6fUz0HMDwFPv2ghoq10SPTBIX8uJFlJZSo4F7FW3xjAScOiPW1T5ARpCiRe_3Hlbe9vtz3P9LSbZLL7W6NYR8OdpgHKqu5Rt1eWaJPdUZOXTdDDzqbon0dxuVaZrlwiETr9xjOHf8hJI_wz7Y_Er_4LEMfw5FHmzU8G-K-wnAC8b13LObe8kqhUx403ng6BNrCeC9BcBrCAge3nk5es5XBERcpWuMRijS0XdJyOlcRh0cJPYzbPG_Fwi0AfQDXz8a7YrZnoctRkLcfD9UN=s256-no' height='50%' width='50%')
                        .col.s6
                            center
                                br
                                br
                                h3 สถานะ : 
                                    span#tv เปิด
    center
      a.waves-effect.waves-light.btn-large(href='/test')
        i.material-icons.left cloud
          |  ศูนย์ทดสอบ
    br
    script.

            var socket = io();
            var temp = $('#temp');
            var humi = $('#humi');

            socket.emit('message', 'ศูนย์แสดงรายละเอียดได้เชื่อมต่อเข้ามาแล้ว');
            socket.on('message', function(data){
                //alert(data);
            });

            socket.on('LVR_Temp', function(data){
                temp.text(data.temp);
                humi.text(data.humidity);
            });
            
    .footer-copyright
          .container
             center
                  | Wireless devices programming project 
                  a(href='http://gear.kku.ac.th/?lang=en') Computer Engineering Khonkean university

