doctype html
html(lang='en')
  head
    title Test
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.3.js')
  body
    center
      h1 Test for Home automation
    br
    .container
      .row
        center
          h5
            | Relay 1 :  
            span#relay1 OFF
          .col.s6
            a#relay1_1.waves-effect.waves-light.btn On
          .col.s6
            a#relay1_0.waves-effect.waves-light.btn Off
      br
      .row
        center
          h5
            | Relay 2 :  
            span#relay2 OFF
          .col.s6
            a#relay2_1.waves-effect.waves-light.btn On
          .col.s6
            a#relay2_0.waves-effect.waves-light.btn Off
      br
      .row
        center
          h5
            | Relay 3 :  
            span#relay3 OFF
          .col.s6
            a#relay3_1.waves-effect.waves-light.btn On
          .col.s6
            a#relay3_0.waves-effect.waves-light.btn Off
      br
      .row
        center
          h5
            | Relay 4 :  
            span#relay4 OFF
          .col.s6
            a#relay4_1.waves-effect.waves-light.btn On
          .col.s6
            a#relay4_0.waves-effect.waves-light.btn Off
    br
    .row
      center
        .col.s6
          | Relay 1 
          span#relay1
        .col.s6
          | Relay 2 
          span#relay2
    br
    .row
      center
        .col.s6
          | Relay 3 
          span#relay3
        .col.s6
          | Relay 4 
          span#relay4
  script.
    var socket = io();
    var relay1_0 = $('#relay1_0');
    var relay1_1 = $('#relay1_1');
    var relay2_0 = $('#relay2_0');
    var relay2_1 = $('#relay2_1');
    var relay3_0 = $('#relay3_0');
    var relay3_1 = $('#relay3_1');
    var relay4_0 = $('#relay4_0');
    var relay4_1 = $('#relay4_1');
    var r1 = $('#r1');
    var r2 = $('#r2');
    var r3 = $('#r3');
    var r4 = $('#r4');
    socket.on('LVR_Relay', function(data){
    if(data.number == 1){
    if(data.state == 0)
    r1.text("OFF");
    else  r1.text("ON");
    } else if(data.number == 2){
    if(data.state == 0)
    r2.text("OFF");
    else  r2.text("ON");
    } else if(data.number == 3){
    if(data.state == 0)
    r3.text("OFF");
    else  r3.text("ON");
    } else if(data.number == 4){
    if(data.state == 0)
    r4.text("OFF");
    else  r4.text("ON");
    }
    });
    socket.emit('message', 'ศูนย์ทดสอบได้เชื่อมต่อเข้ามาแล้ว');
    // socket.on('message', function(data){
    //   alert(data);
    // });
    relay1_1.click(function(){
    socket.emit('LVR_Relay', {
    number : 1,
    state : 1
    });
    $("#relay1").text('ON');
    });
    relay1_0.click(function(){
    socket.emit('LVR_Relay', {
    number : 1,
    state : 0
    });
    $("#relay1").text('OFF');
    });
    relay2_1.click(function(){
    socket.emit('LVR_Relay', {
    number : 2,
    state : 1
    });
    $("#relay2").text('ON');
    });
    relay2_0.click(function(){
    socket.emit('LVR_Relay', {
    number : 2,
    state : 0
    });
    $("#relay2").text('OFF');
    });
    relay3_1.click(function(){
    socket.emit('LVR_Relay', {
    number : 3,
    state : 1
    });
    $("#relay3").text('ON');
    });
    relay3_0.click(function(){
    socket.emit('LVR_Relay', {
    data_number : 3,
    data_state : 1
    });
    $("#relay3").text('OFF');
    });
    relay4_1.click(function(){
    socket.emit('LVR_Relay', {
    number : 4,
    state : 1
    });
    $("#relay4").text('ON');
    });
    relay4_0.click(function(){
    socket.emit('LVR_Relay', {
    number : 4,
    state : 1
    });
    $("#relay4").text('OFF');
    });

