doctype html
html(lang='en')
  head
    title Test
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
  body
    h1 Test for Home automation
    #container.col
      | Relay 1
      a#relay1_0.waves-effect.waves-light.btn(onclick='myFunction()') On
      a#relay1_1.waves-effect.waves-light.btn(onclick='myFunction2()') Off
      |     Relay 2
      a#relay2_0.waves-effect.waves-light.btn On
      a#relay2_1.waves-effect.waves-light.btn Off
      |       Relay 3
      a#relay3_0.waves-effect.waves-light.btn On
      a#relay3_1.waves-effect.waves-light.btn Off
      |       Relay 4
      a#relay3_0.waves-effect.waves-light.btn On
      a#relay3_1.waves-effect.waves-light.btn Off
      
  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(type='text/javascript', src='js/materialize.min.js')
  script(src="https://cdn.socket.io/socket.io-1.3.3.js")
  script.
    var socket = io();
    var relay1_0 = $('#relay1_0');
    var relay1_1 = $('#relay1_1');
    // var relay2_0 = $('#relay2_0');
    // var relay2_1 = $('#relay2_1');
    // var relay3_0 = $('#relay3_0');
    // var relay3_1 = $('#relay3_1');
    // var relay4_0 = $('#relay4_0');
    // var relay4_1 = $('#relay4_1');
    function myFunction() {
    socket.emit('LVR_Relay', {
    data.number : 1,
    data.state : 1
    });
    }
    function myFunction2() {
    socket.emit('LVR_Relay', {
    data.number : 1,
    data.state : 0
    });
    }

